<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Card</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="../../assets/duck.jpeg">
        <ion-card-header>
          <ion-card-subtitle>USC Hybrid High School</ion-card-subtitle>
          <ion-card-title>Alejandro Tellez</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          I like to play baseball and watch anime.
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>